
@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphterd41d.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Glyphter.woff') format('woff'),
         url('../fonts/Glyphter.ttf') format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class*='icon-']:before{
	display: inline-block;
   font-family: 'Glyphter';
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale
}
.icon-ac:before{content:'\0041';}
.icon-desk:before{content:'\0042';}
.icon-storage:before{content:'\0043';}
.icon-service:before{content:'\0044';}
.icon-water:before{content:'\0045';}
.icon-luandry:before{content:'\0046';}
.icon-water:before{content:'\0047';}
.icon-bike:before{content:'\0048';}
.icon-tv:before{content:'\0049';}
.icon-clean:before{content:'\004a';}
.icon-common-area:before{content:'\004b';}
.icon-housekeeping:before{content:'\004c';}
.icon-meals:before{content:'\004d';}
.icon-towels:before{content:'\004e';}
